.footer {
    background-color: var(--color-primary);
    margin: 0;
    position: relative;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 100px;
}

.footerText {
    color: var(--color-text-primary);
    font-family: var(--font-text-primary);
    font-size: var(--font-size-text-primary);
    text-align: center;
    flex: 1;
}

.informations {
    flex: 1;
}

.id {
    color: var(--color-text-secondary);
    font-family: var(--font-text-primary);
    font-size: var(--font-size-text-primary);
}

.footerLinks {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.githubIcon {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
    transition: filter 0.25s ease;
}

.githubIcon:hover {
    filter: brightness(0) saturate(100%) invert(63%) sepia(50%) saturate(500%) hue-rotate(210deg);
}